<div class="row">
  <div class="col">
    <app-search-form
      [query]="query$ | async"
      (queryChange)="search($event)"
    ></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>{{ message }}</p>

    
      <p>Found {{ (albums$ | async)?.length }} results</p>

      <!-- <button (click)="hide = !hide">Toggle</button> -->
      <app-search-results [results]="albums$ | async"></app-search-results>
  </div>
</div>

<!-- 
      <svg width="100" height="50">
        <text *ngFor="let wojew of albums let i = index" [attr.x]="10+i" [attr.y]="20+i" fill="red" (click)="search(wojew.name)">
          Found {{ albums?.length }} results</text>
      </svg> -->
