
<div class="list-group">
  <div class="list-group-item"
    
    [class.active]=" selected?.id === playlist.id "
    (click)="select(playlist)"

    [appHighlight]="playlist.color"

    *ngFor="let playlist of playlists trackBy trackFn;  index as i  ">
    {{i+1}}. {{playlist.name}}
  </div>
  
</div>


<!-- [style.border-color]="hover == playlist.id? playlist.color : ''" 
(mouseenter)=" hover = playlist.id "
(mouseleave)=" hover = false  " -->


<!-- <ng-template ngFor [ngForOf]="playlists" let-playlist="$implicit" let-i="index">
    <div class="list-group-item">
      {{i+1}}. {{playlist.name}}
    </div>
  </ng-template> -->


<!-- for(let elem of elements){} -->

<!-- for row of rows
  for col of row.cols
     $implci -->