<app-card>
  <ng-container ngProjectAs="title">{{ playlist.name }}</ng-container>

  <dl [title]="playlist.name" [attr.data-id]="playlist.id">
    <dt>Name:</dt>
    <dd>{{ playlist.name }}</dd>

    <dt>Favorite:</dt>
    <dd [style.font-size.px]="20 + 2">
      {{ playlist.favorite ? "Yes" : "No" }}
    </dd>

    <dt>Color</dt>
    <dd
      [ngStyle]="{
        color: playlist.color,
        background: playlist.color,
        borderColor: playlist.color
      }"
    >
      {{ playlist.color }}
    </dd>
  </dl>

  <input
    ngProjectAs="footer"
    type="button"
    class="btn btn-info"
    value="Edit"
    (click)="onEdit()"
  />
</app-card>
